 ### **1. Data Loading and Ingestion**

In [1]:
file_path = 'C:\\Users\\ncc777\\Desktop\\Machine Learning Project\\Project 1\\train.csv'

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

def load_and_pda(file_path):
    """
    Loads dataset, performs basic PDA
    
    Steps:
    1. Load CSV file.
    2. Basic info 
    3. missing values
    4. Check for duplicates
    5. PDA by feature type
    """

    # === 1. Load dataset ===
    try:
        df = pd.read_csv(file_path)
        print(f"Dataset loaded successfully: {file_path}")
        print(f"Shape: {df.shape[0]} rows × {df.shape[1]} columns\n")
    except Exception as e:
        print(f"Error loading file: {e}")
        return None

    # === 2. Basic Info ===
    print("=== DATA INFO ===")
    print(df.info())
    print("\n=== FIRST 5 ROWS ===")
    print(df.head())
    print("\n=== LAST 5 ROWS ===")
    print(df.tail())
    print("\n=== SUMMARY STATISTICS ===")
    print(df.describe().T)

    # === 3. Missing Values ===
    print("\n=== MISSING VALUE PERCENTAGES ===")
    missing = df.isnull().mean() * 100
    print(missing[missing > 0].sort_values(ascending=False))


    # === 4. Check for duplicates
    print("\n2. Duplicate Rows:")
    duplicates = df.duplicated().sum()
    print(f"Number of duplicate rows: {duplicates}")
    if duplicates > 0:
        print(f"Percentage of duplicates: {(duplicates/len(df))*100:.2f}%")

    # === 5. PDA by Feature Type ===
    numerical = df.select_dtypes(include=['int64', 'float64']).columns
    categorical = df.select_dtypes(exclude=['int64', 'float64']).columns

    print(f"\nNumerical features: {list(numerical)}")
    print(f"Categorical features: {list(categorical)}")

    return df

In [3]:
df = load_and_pda(file_path)

Dataset loaded successfully: C:\Users\ncc777\Desktop\Machine Learning Project\Project 1\train.csv
Shape: 593994 rows × 13 columns

=== DATA INFO ===
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 593994 entries, 0 to 593993
Data columns (total 13 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id                    593994 non-null  int64
 1   annual_income         593994 non-null  float64
 2   debt_to_income_ratio  593994 non-null  float64
 3   credit_score          593994 non-null  int64
 4   loan_amount           593994 non-null  float64
 5   interest_rate         593994 non-null  float64
 6   gender                593994 non-null  object
 7   marital_status        593994 non-null  object
 8   education_level       593994 non-null  object
 9   employment_status     593994 non-null  object
 10  loan_purpose          593994 non-null  object
 11  grade_subgrade        593994 non-null  object
 12  loan_paid_back        593994 non-null  float64
dtypes: float64(5), int64(2), object(6)
memory usage: 58.9+ MB
None

=== FIRST 5 ROWS ===
   id  annual_income  debt_to_income_ratio  credit_score  loan_amount  \
0   0       29367.99                 0.084           736      2528.42
1   1       22108.02                 0.166           636      4593.10
2   2       49566.20                 0.097           694     17005.15
3   3       46858.25                 0.065           533      4682.48
4   4       25496.70                 0.053           665     12184.43

   interest_rate  gender marital_status education_level employment_status  \
0          13.67  Female         Single     High School     Self-employed
1          12.92    Male        Married        Master's          Employed
2           9.76    Male         Single     High School          Employed
3          16.10  Female         Single     High School          Employed
4          10.21    Male        Married     High School          Employed

         loan_purpose grade_subgrade  loan_paid_back
0               Other             C3             1.0
1  Debt consolidation             D3             0.0
2  Debt consolidation             C5             1.0
3  Debt consolidation             F1             1.0
4               Other             D1             1.0

=== LAST 5 ROWS ===
            id  annual_income  debt_to_income_ratio  credit_score  \
593989  593989       23004.26                 0.152           703
593990  593990       35289.43                 0.105           559
593991  593991       47112.64                 0.072           675
593992  593992       76748.44                 0.067           740
593993  593993       48959.52                 0.096           752

        loan_amount  interest_rate  gender marital_status education_level  \
593989     20958.37          10.92  Female         Single     High School
593990      3257.24          14.62    Male         Single      Bachelor's
593991       929.27          14.13  Female        Married      Bachelor's
593992     16290.40           9.87    Male         Single      Bachelor's
593993      7707.73          10.31    Male        Married     High School

       employment_status        loan_purpose grade_subgrade  loan_paid_back
593989          Employed            Business             C3             1.0
593990          Employed  Debt consolidation             F5             1.0
593991          Employed  Debt consolidation             C1             1.0
593992          Employed  Debt consolidation             B2             1.0
593993          Employed           Education             B3             1.0

=== SUMMARY STATISTICS ===
                         count           mean            std       min  \
id                    593994.0  296996.500000  171471.442236     0.000
annual_income         593994.0   48212.202976   26711.942078  6002.430
debt_to_income_ratio  593994.0       0.120696       0.068573     0.011
credit_score          593994.0     680.916009      55.424956   395.000
loan_amount           593994.0   15020.297629    6926.530568   500.090
interest_rate         593994.0      12.356345       2.008959     3.200
loan_paid_back        593994.0       0.798820       0.400883     0.000

                             25%         50%         75%         max
id                    148498.250  296996.500  445494.750  593993.000
annual_income          27934.400   46557.680   60981.320  393381.740
debt_to_income_ratio       0.072       0.096       0.156       0.627
credit_score             646.000     682.000     719.000     849.000
loan_amount            10279.620   15000.220   18858.580   48959.950
interest_rate             10.990      12.370      13.680      20.990
loan_paid_back             1.000       1.000       1.000       1.000

=== MISSING VALUE PERCENTAGES ===
Series([], dtype: float64)

2. Duplicate Rows:
Number of duplicate rows: 0

Numerical features: ['id', 'annual_income', 'debt_to_income_ratio', 'credit_score', 'loan_amount', 'interest_rate', 'loan_paid_back']
Categorical features: ['gender', 'marital_status', 'education_level', 'employment_status', 'loan_purpose', 'grade_subgrade']